.gallery {
    background-color: red;
    width: 1100px;
    height: 400px;
    display: flex;
    justify-content: center;
    
}
.text {
    background-color: grey;
    display: inline;
    width: 336px;
    height: 400px;
    justify-content: center;
}
.info {
    background-color: grey;
    width: 1100px;
    height: 400px;
}
.container {
    display: flex;
    justify-content: center;
}
.blog {
    display: flex;
    justify-content: center;
}
.logo {
    display: flex;
    justify-content: center;
}
.jawalogo {
    width: 400px;
    height: 300px;
    rotate: -90deg;
}
.testdrive {
    width: 400px;
    height: 280px;
    float: left;
    margin-left: 100px;
}
.photo {
    width: 100px;
    height: 80px;
}
h1 {
    text-align: center;
}
.driveKontakt {
   float: right;
   margin-right: 100px;
   font-size: 26px;
}
.readMore {
    float: right;
    margin-right: 360px;
    margin-top: 80px;
}