.gallery {
    background-color: red;
    width: 1100px;
    height: 400px;
    display: flex;
    justify-content: center;
    
}
.text {
    background-color: grey;
    display: inline;
    width: 336px;
    height: 400px;
    justify-content: center;
}
.info {
    background-color: grey;
    width: 1100px;
    height: 400px;
    justify-content: center;
    display: flex;
}
.container {
    display: flex;
    justify-content: center;
}
.blog {
    display: flex;
    justify-content: center;
}
.logo {
    display: flex;
    justify-content: center;
}